@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Fugaz One';
    src: url(./fonts/Fugaz_One/FugazOne-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(21,23,64,1) 0%, rgba(38,60,62,1) 50%, rgba(21,23,64,1) 100%);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 4vw;
    font-size: 4vw;
    display: flex;
    justify-content: center;
}

.header-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.tab {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.tab:hover {
    opacity: 0.5;
}

.portfolio-tab {
    text-decoration: underline dotted;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.mobile-menu {
    visibility: hidden;
    position: fixed;
    top: 2.5vw;
    right: 4vw;
    display: flex;
}

@media screen and (max-width: 550px) {
    .mobile-menu {
        visibility: visible;
    }
}


@media screen and (max-width: 550px) {
    .desktop-menu {
        visibility: hidden;
    }
}

.mobile-jt {
    color: #ffffff;
    font-family: 'Fugaz One', cursive;
    position: fixed;
    top: 2.5vw;
    left: 4vw;
    font-size: 5vw;
}

.menu-btn {
    background: transparent;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 0.6vw;
    padding: 0 .4vw .3vw;
    font-size: 4vw;
    transition: all 0.4s ease;
}

.menu-btn.hide {
    visibility: hidden;
}

.menu-btn:focus {
    opacity: 0.5;
}

.mobile-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 100;
}

.mobile-overlay.show {
    overflow: hidden;
    visibility: visible;
    animation-name: mobile;
    animation-duration: 1s;
}

.close-btn {
    color: #ffffff;
    background-color: transparent;
    position: fixed;
    top: 2.5vw;
    right: 4vw;
    font-size: 6vw;
    border: none;
}

@keyframes mobile{
    from{ top: -50%}
    to{ transform: translate(-50%, -50%)}
}

.mobile-tabs {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    list-style: none;
    text-align: center;
    visibility: hidden;
}

.mobile-tabs.show {
    visibility: visible;
}

.mobile-link {
    margin: 6vw;
    padding: 1vw;
    background: rgb(72, 61, 139);
}

.mobile-link:active {
    opacity: 0.5;
}

.mobile-text {
    color: #ffffff;
    text-decoration: none;
    width: 40vw;
    display: flex;
    justify-content: center;
    font-size: 4.8vw;
}

.grid {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-gap: 2vw 4vw;
    justify-content: center;
    list-style: none;
    margin-bottom: 4vw;
}

@media screen and (max-width: 550px) {
    .grid {
        grid-template-columns: 80vw;
        grid-gap: 2vw;
    }
}


.grid-item {
    position: relative;
    object-fit: contain;
    z-index: 0;
}

.grid-image {
    width: 40vw;
    height: 100%;
}

@media screen and (max-width: 550px) {
    .grid-image {
        width: 80vw;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .overlay {
        width: 80vw;
    }
}

.overlay:hover {
    opacity: 1;
}

.overlay_title {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    width: 80%;
    text-align: center;
    margin: auto;
}

.overlay_link {
    color: #ffffff;
    text-decoration: none;
    height: 100%;
    display: flex;
}